.background-image-container {
    background-image: url(../images/big-background/cat_silhouette_overlooking_cityscape_night.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
}