.background-image-container {
    background-image: url(../images/cat-silhouette-overlooking-cityscape-night.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.navbar {
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 200px;
    height: 93%;
    justify-content: start;
    align-items: center;
}

.navbar-link {
    margin-top: 30px;
}

.navbar-link img {
    height: 60px;
}